* {
    padding: 0px;
    margin: 0px;
    gap: 0px;
}

.menu {
    display: flex;
    align-items: center;
    border: 1px solid;
    flex-flow: row;
    justify-content: space-between;
    padding: 5px;
}

.left {
   display: flex;
   align-items: center;
    border: 1px solid;
}

.left > figure > #youtube {
    padding-left: 10px;
}

.center {
    display: flex;
}

.right {
    display: flex;
}