@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Anybody:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
  background: rgba(255, 255, 255, 1);
    /*border: 1px solid blue;*/
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 15px;
}

.left {
    display: flex;
    align-items: center;
}
.left > #menu + #logo-ytb {
    margin: 0px 20px;
}
.center {
    display: flex;
}

.center > .search  {
    display: flex;
}

.center > .search > input {
    width: 350px;
    height: 38px;
    border: solid rgba(204, 204, 204, 1) 1px;
}

.center > .search > button {
    width: 55px;
    height: 40px; 
    border: solid rgba(204, 204, 204, 1) 1px;
}

.right {
    display: flex;
    align-items: center;
}

.right > figure {
    margin: 5px;
}

main {
    margin: 15px;
    display: flex;
}

main > .video-details > h1 {
    font: bolder 20px/1.5 "Roboto", sans-serif;
}

.video-actions {
    border: 1px solid black;
    display: flex;
    width: 900px;
    height: 45px;
}

.video-actions > .item {
    display: flex;
    align-items: center;
    padding: 15px;
}



